/*Import font-face*/
@import url("https://use.typekit.net/nkj5yba.css");
@import url("https://fonts.googleapis.com/css?family=Mukta");
/*Variables*/
/*Body*/
body {
  font-family: "dinosaur", san-serif;
  color: #545454;
  font-size: 13px;
  background-color: #F7F7F7; }

body.wc-read {
  background-color: #F7F7F7; }

a {
  cursor: pointer;
  color: #FF0098; }

a.email-link, a.email-link:hover, a.email-link:visited {
  color: #545454; }

a:hover {
  text-decoration: none;
  color: #FF0098; }

p strong {
  font-family: "dinosaur", san-serif;
  font-weight: 500; }

/* Header and Navigation */
header.main-header {
  background-color: #F7F7F7;
  color: #FF0098; }
  header.main-header .subnav-links, header.main-header .subnav-links a, header.main-header .subnav-links button {
    color: #FF0098;
    padding: 0.5rem 0;
    text-align: right;
    font-size: 12px; }
    header.main-header .subnav-links .list-inline, header.main-header .subnav-links a .list-inline, header.main-header .subnav-links button .list-inline {
      margin-bottom: 0;
      margin-right: 1rem; }
    header.main-header .subnav-links li .subnav-search, header.main-header .subnav-links a li .subnav-search, header.main-header .subnav-links button li .subnav-search {
      border: 0;
      border-bottom: #FF0098;
      background-color: transparent;
      border-radius: 0; }
    header.main-header .subnav-links li input, header.main-header .subnav-links li input::placeholder, header.main-header .subnav-links a li input, header.main-header .subnav-links a li input::placeholder, header.main-header .subnav-links button li input, header.main-header .subnav-links button li input::placeholder {
      color: #FF0098;
      font-size: 12px;
      border-bottom: 1 solid #FF0098; }

.navbar {
  padding: 0; }
  .navbar div {
    padding: 0; }
  .navbar .navbar-brand img {
    max-height: 70px; }

.navbar-nav {
  height: 73px;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto; }
  .navbar-nav .nav-item {
    margin-top: auto;
    margin-bottom: auto;
    height: 65px; }
    .navbar-nav .nav-item a {
      font-size: 14px;
      color: #002677;
      font-family: "dinosaur", san-serif;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 0.9rem 1.5rem 0.5rem 1.5rem;
      height: 65px; }
    .navbar-nav .nav-item a:hover {
      padding-top: 0.9rem;
      color: #FF0098;
      background-image: url(../images/MenuFrame.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center -5px;
      overflow: visible;
      height: 65px; }
  .navbar-nav .active > .nav-link, .navbar-nav .show > .nav-link, .navbar-nav .nav-link:focus {
    padding-top: 0.9rem;
    color: #FF0098;
    background-image: url("../images/MenuFrame.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center -5px;
    overflow: visible;
    height: 65px; }
  .navbar-nav .dropdown-menu {
    background-color: #72C7E7;
    border: 0;
    border-radius: 0;
    margin: 0; }

.navbar-wrapper {
  background-color: #F7F7F7;
  margin-bottom: 25px; }
  .navbar-wrapper.sticky {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: #F7F7F7;
    display: none; }
    .navbar-wrapper.sticky .container {
      padding-left: 0;
      padding-right: 0; }
    .navbar-wrapper.sticky .navbar .navbar-brand img {
      max-height: 70px;
      padding: 0.3rem 0; }

nav[aria-label="Page navigation"] {
  margin: 2rem 0; }
  nav[aria-label="Page navigation"] ul.pagination li.active span {
    background-color: #FF0098;
    border-color: #FF0098; }

.translate-up {
  transform: translateY(-80px);
  transition: 0.5s; }

.translate-down {
  transform: translateY(80px);
  transition: 0.5s; }

.wc-pagination-web,
.wc-pagination-mobile,
.wc-pagination-fix-mobile {
  z-index: 3;
  display: none;
  background-color: #002677;
  transition: 0.5s; }
  .wc-pagination-web .pagination .chapter-pg,
  .wc-pagination-mobile .pagination .chapter-pg,
  .wc-pagination-fix-mobile .pagination .chapter-pg {
    position: relative;
    display: inline-block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #fff;
    background-color: transparent;
    border: 0; }
  .wc-pagination-web .pagination .page-link,
  .wc-pagination-mobile .pagination .page-link,
  .wc-pagination-fix-mobile .pagination .page-link {
    background-color: transparent;
    color: #fff;
    border: 0; }
    .wc-pagination-web .pagination .page-link:focus, .wc-pagination-web .pagination .page-link:hover,
    .wc-pagination-mobile .pagination .page-link:focus,
    .wc-pagination-mobile .pagination .page-link:hover,
    .wc-pagination-fix-mobile .pagination .page-link:focus,
    .wc-pagination-fix-mobile .pagination .page-link:hover {
      color: #72C7E7; }
  .wc-pagination-web .pagination .page-item.disabled .page-link,
  .wc-pagination-mobile .pagination .page-item.disabled .page-link,
  .wc-pagination-fix-mobile .pagination .page-item.disabled .page-link {
    color: #72C7E7; }

.wc-read-share .list-inline-item {
  padding: .5rem .75rem;
  color: #fff; }

.wc-control {
  background: #002677;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0; }

/* Cards */
.card,
.card-img-top {
  border: 0;
  border-radius: 0; }

.card-columns .card {
  margin-bottom: 1.5rem; }

/* Float */
.fl-left {
  display: inline-block; }

/* Headings */
h1,
h2 {
  font-family: "dinosaur", san-serif;
  text-transform: uppercase;
  color: #002677;
  margin-bottom: 1rem;
  font-style: normal; }

h3,
h4,
h6 {
  font-family: "dinosaur", san-serif;
  text-transform: uppercase;
  color: #002677;
  margin-bottom: 1rem;
  font-style: normal; }

h1 {
  font-size: 30px;
  font-style: normal; }

h2 {
  font-size: 24px;
  font-style: normal; }

h3 {
  font-size: 22px;
  font-style: normal; }

h4 {
  font-size: 18px;
  font-style: normal; }

h5 {
  font-family: "dinosaur", san-serif;
  font-weight: bold;
  text-transform: none;
  color: #002677;
  margin-bottom: 1rem; }

p {
  word-wrap: break-word; }

/* Sections */
.coming-soon {
  background: #002677; }

section, aside {
  margin: 3rem 0;
  border-top: 1px solid #E5E5E5; }

section .section-title {
  margin-top: 1rem; }
  section .section-title h1 {
    color: #002677; }

aside .section-title {
  margin-top: 1rem; }
  aside .section-title h1 {
    color: #002677; }

/* Blue background */
.bg-blue {
  background: #002677;
  color: #fff !important; }
  .bg-blue h1,
  .bg-blue h2,
  .bg-blue h3,
  .bg-blue h4,
  .bg-blue h5,
  .bg-blue h6 {
    color: #fff; }

/* 100pct width */
.w-100 {
  width: 100%; }

.post-date {
  color: #545454;
  font-family: "Mukta", san-serif; }

/* Lists */
ul {
  list-style-type: none;
  padding-left: 0; }

ul > li {
  padding: .25rem 0; }

/* Sidebar */
.sidebar {
  border-top: 1px solid #002677;
  padding-top: 1rem; }
  .sidebar a, .sidebar a:visited, .sidebar a:hover, .sidebar a:active {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    transition: 0.5s color ease;
    text-decoration: none;
    color: #FF0098;
    font-family: "Archivo", sans-serif;
    font-weight: bold;
    text-transform: uppercase; }
  .sidebar a:hover {
    color: #72C7E7; }
  .sidebar a.after:after {
    content: "";
    transition: 0.5s all ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    bottom: -0.25rem;
    height: 4px;
    width: 0;
    background: #72C7E7; }
  .sidebar a.after:hover:after {
    width: 100%; }
  .sidebar a.link-animated:after {
    left: 0; }

/* Modal Box */
.modal-content {
  border: 1px solid #002677;
  border-radius: 0; }

.modal-header {
  border-bottom: 0; }

.close {
  color: #002677;
  opacity: 1; }
  .close:hover, .close:focus {
    color: #72C7E7; }

/* Share buttons */
.wc-read-share .share-buttons {
  color: #fff; }

.share-buttons {
  background: none;
  border: 0; }
  .share-buttons ul li {
    width: 40px;
    height: 40px;
    text-align: center; }
    .share-buttons ul li a {
      color: #FF0098;
      font-size: 16px;
      margin: auto; }
      .share-buttons ul li a:hover {
        color: #FF0098; }
  .share-buttons.share-buttons--fix {
    position: sticky;
    top: 110px;
    z-index: 2;
    transition: ease-out; }

/* Links on text post*/
.post-content a {
  color: #FF0098;
  text-decoration: underline; }

.post-content a:hover {
  color: #FF0098;
  text-transform: uppercase; }

.post-content blockquote {
  font-size: 18px;
  font-family: "Mukta", san-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.4;
  padding: 0 1rem;
  color: #FF0098;
  border-left: 1px solid #FF0098; }

/* Hamburger menu */
.hamburger {
  padding: 20px 30px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 1; }

.hamburger-box {
  width: 30px;
  height: 20px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%; }
  .hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner:before, .hamburger-inner:after {
    content: "";
    display: block; }
  .hamburger-inner:before {
    top: -10px; }
  .hamburger-inner:after {
    bottom: -10px; }

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner:before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner:after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner:before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner:after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/* Subnav Links */
.subnav-links a, .subnav-links a:visited, .subnav-links a:hover, .subnav-links a:active,
.form-bluebg a,
.form-bluebg a:visited,
.form-bluebg a:hover,
.form-bluebg a:active {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  transition: 0.5s color ease;
  text-decoration: underline;
  color: #fff; }

.subnav-links a:hover,
.form-bluebg a:hover {
  color: #72C7E7;
  text-decoration: none;
  transition: 0.5s ease; }

.subnav-links a.after:after,
.form-bluebg a.after:after {
  content: "";
  transition: 0.5s all ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  bottom: -0.25rem;
  height: 4px;
  width: 0;
  background: #72C7E7; }

.subnav-links a.after:hover:after,
.form-bluebg a.after:hover:after {
  width: 100%; }

.subnav-links a.link-animated:after,
.form-bluebg a.link-animated:after {
  left: 0; }

/* Flags */
.flag-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 30px; }

.flag {
  color: #fff;
  border-radius: 10px;
  padding: 8px 20px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
  vertical-align: top;
  font-weight: normal;
  font-family: "Archivo", sans-serif;
  font-weight: bold; }

.flag-new {
  background: #FF0098; }

.flag-comingsoon {
  background: #1de9b6; }

/* Buttons */
button:focus {
  outline: none; }

.fa-button {
  border: 0;
  background: transparent;
  color: #fff; }
  .fa-button:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: #72C7E7; }

.btn {
  font-family: "Archivo", sans-serif;
  font-weight: bold;
  font-size: 13px;
  position: relative;
  display: inline-block;
  padding: 1rem 1.5rem;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  z-index: 1;
  cursor: pointer; }
  .btn:focus {
    outline: none; }

.btn--primary {
  background: transparent;
  color: #002677;
  border: 2px solid #002677;
  border-radius: 0; }

.btn--white {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 0; }
  .btn--white.btn-animated:before {
    background: #fff; }
  .btn--white.btn-animated:hover {
    color: #002677; }

.dropdown .btn {
  padding: 0.75rem 1.5rem; }

.dropdown-menu {
  color: #002677;
  border: 2px solid #002677;
  border-radius: 0;
  font-size: 13px;
  background: #f5f5f5;
  z-index: 2; }
  .dropdown-menu .dropdown-item {
    color: #002677;
    font-weight: bold;
    padding: 0.75rem 1.5rem; }
    .dropdown-menu .dropdown-item:hover {
      color: #fff;
      background: #002677; }

.sorting-result {
  text-align: right;
  text-transform: uppercase;
  color: #002677;
  font-family: "Archivo", sans-serif;
  font-weight: bold; }

.pagination .page-link {
  color: #002677; }

/* Forms */
.form-bluebg .form-subscription input {
  background: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #E5E5E5; }

.form-bluebg .form-subscription input::placeholder {
  color: #545454;
  font-size: 12px; }

.form-bluebg .form-subscription .form-control {
  color: #FF0098; }

.form-bluebg .form-subscription .form-check {
  margin: 1rem 0; }

.form-bluebg .btn {
  padding: .375rem 2rem !important;
  margin-top: 0 !important; }

.form-whitebg textarea,
.form-whitebg input {
  background: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #002677; }

.form-whitebg textarea::placeholder,
.form-whitebg input::placeholder {
  font-size: 12px;
  color: inherit; }

.form-whitebg .form-check {
  margin: 1rem 0; }

.form-whitebg .btn {
  padding: .375rem 2rem !important;
  margin-top: 0 !important; }

.form-control:focus {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid #72C7E7; }

/* FA Icon */
.circle-icon {
  background: #002677;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  padding: 13px; }
  .circle-icon:hover, .circle-icon:active, .circle-icon:focus {
    background: #72C7E7; }

/* Hover Effects */
.hvr-highlight {
  flex: 1;
  line-height: 1.2;
  text-decoration: none;
  background-image: linear-gradient(to right, #B9E6EB 0, #B9E6EB 100%);
  background-position: 0 1.2em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 1s; }

.hvr-highlight:hover {
  background-size: 100% 100%;
  transition: 1s; }

.hvr-highlight-thick {
  background-position: 0 -0.1em; }

.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }
  .hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
    -webkit-transform: translateX(8px);
    transform: translateX(8px); }

.hvr-backward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }
  .hvr-backward:hover, .hvr-backward:focus, .hvr-backward:active {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px); }

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden; }
  .hvr-underline-from-left:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: 2;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #72C7E7;
    height: 8px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0; }

/* Jumbotron */
section.section-jumbotron {
  margin: 0;
  border-top: 0;
  /*.btn {
      font-size: 14px;
        padding: 3.5rem 2rem 1rem 1rem;
      margin-top: 1rem;

        &:focus {
          outline: none;
        }
  }*/ }
  section.section-jumbotron .jumbotron {
    padding: 0;
    background-color: #002677;
    border-radius: 0;
    margin-bottom: 0; }
  section.section-jumbotron .jumbotron-image {
    background: url("../images/DE_bg_pattern2.png");
    background-size: 100%; }
  section.section-jumbotron .jumbotron-image-mobile {
    display: none;
    min-height: 0px; }
  section.section-jumbotron .jumbotron-caption {
    padding: 2.5rem; }
    section.section-jumbotron .jumbotron-caption h1 {
      font-family: "Archivo", sans-serif;
      font-weight: bold;
      color: #fff;
      margin-bottom: 1rem; }
    section.section-jumbotron .jumbotron-caption p {
      color: #fff;
      margin-bottom: 1rem; }
  section.section-jumbotron .form-bluebg {
    margin-top: 3rem; }

/* Carousel */
/* Comics Section */
section.section-comics .cover-title {
  margin-top: 1rem; }
  section.section-comics .cover-title h2 {
    color: #002677; }

/* Genre Section */
section.section-genre .genre-block {
  margin-top: 1.5rem; }

section.section-genre .genre-link {
  position: relative;
  display: inline-block;
  text-align: left;
  text-transform: uppercase;
  overflow: hidden;
  z-index: 1;
  cursor: pointer; }
  section.section-genre .genre-link:focus {
    outline: none; }
  section.section-genre .genre-link h3 {
    font-family: "Archivo", sans-serif;
    font-weight: bold;
    letter-spacing: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 2rem;
    transition: 0.3s ease-in-out; }

section.section-genre .genre-link--primary {
  background: #fff;
  color: #002677;
  border: 0;
  border-radius: 0; }

section.section-genre .genre-link-animated {
  transition-property: color;
  transition-duration: 0.5s; }
  section.section-genre .genre-link-animated.genre-block-1 {
    border-right: 8px solid #FF0098; }
    section.section-genre .genre-link-animated.genre-block-1:before {
      background: #FF0098; }
  section.section-genre .genre-link-animated.genre-block-2 {
    border-right: 8px solid #ffd740; }
    section.section-genre .genre-link-animated.genre-block-2:before {
      background: #ffd740; }
  section.section-genre .genre-link-animated.genre-block-3 {
    border-right: 8px solid #1de9b6; }
    section.section-genre .genre-link-animated.genre-block-3:before {
      background: #1de9b6; }
  section.section-genre .genre-link-animated.genre-block-4 {
    border-right: 8px solid #b388ff; }
    section.section-genre .genre-link-animated.genre-block-4:before {
      background: #b388ff; }
  section.section-genre .genre-link-animated.genre-block-5 {
    border-right: 8px solid #72C7E7; }
    section.section-genre .genre-link-animated.genre-block-5:before {
      background: #72C7E7; }
  section.section-genre .genre-link-animated:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: 100% 0;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    z-index: -1; }
  section.section-genre .genre-link-animated:hover h3 {
    color: #fff;
    transition: 0.3s ease-in-out; }
  section.section-genre .genre-link-animated:hover:before {
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66); }

/* Input Forms & Button */
/* Input */
input.form-control, input.form-control:focus {
  background: transparent;
  border: 0;
  border-bottom: 2px solid #FF0098;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0; }

input.form-control::placeholder {
  color: #545454;
  font-family: "Mukta", san-serif;
  font-size: 12px; }

.form-check {
  margin: 1rem 0; }

button.btn {
  font-family: "dinosaur", san-serif;
  font-weight: normal;
  font-size: 13px;
  color: #FF0098;
  background-color: #F7F7F7;
  padding: 0.5rem 2rem;
  border: 2px solid #FF0098;
  border-radius: 0;
  overflow: visible; }

button.btn:after {
  content: '';
  color: #FF0098;
  position: absolute;
  height: 109%;
  width: 100%;
  border: 0;
  border-right-width: 4px;
  border-bottom-width: 4px;
  border-style: solid;
  top: 3px;
  right: -6px; }

.btn-animated {
  transition-property: color;
  transition-duration: 0.5s; }
  .btn-animated:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FF0098;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    z-index: -1; }
  .btn-animated:hover {
    color: #F7F7F7; }
    .btn-animated:hover:before {
      transform: scaleX(1);
      transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66); }

/* Web Comics */
/* Webcomics Section */
section.section-webcomics .webcomics-card {
  margin: 20px 0; }

section.section-webcomics .webcomics-read-all {
  margin-top: 1rem; }

section.section-webcomics .webcomics-image {
  position: relative;
  height: 200px;
  overflow: visible;
  margin-bottom: 20px; }

section.section-webcomics .webcomics-image:after {
  content: '';
  color: #FF0098;
  position: absolute;
  height: 104%;
  width: 80%;
  border: 0;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-style: solid;
  top: 0;
  right: -8px; }

section.section-webcomics .webcomics-cover {
  width: 100%;
  height: 200px;
  object-fit: cover; }

section.section-webcomics .webcomics-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  z-index: 5; }

section.section-webcomics .webcomics-image-hover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 200px;
  z-index: 5; }

section.section-webcomics .webcomics-image-hover:hover {
  background: url("../images/DottedOverlay.svg");
  transition: 1s ease; }

section.section-webcomics .webcomics-body .webcomics-text {
  font-family: "Mukta", san-serif;
  font-size: 14px; }

section.section-webcomics .webcomics-body .webcomics-read a {
  color: #FF0098;
  letter-spacing: 0.5px; }

/* Blog */
/* Blog Section */
section.section-blog .blog-carousel {
  margin: 20px 0;
  overflow: hidden; }

section.section-blog .carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 5px;
  left: 0;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  margin-right: 0;
  margin-left: 0; }

section.section-blog .blog-carousel-control {
  opacity: 0; }

section.section-blog .carousel-indicators li {
  width: 10px;
  height: 10px;
  background-color: #F7F7F7;
  border: 1px solid #002677;
  border-radius: 100%;
  cursor: pointer; }

section.section-blog .carousel-indicators li.active {
  background-color: #002677;
  border: 1px solid #002677; }

section.section-blog .blog-read-all {
  margin-top: 1rem; }

section.section-blog .blog-card-big .blog-image {
  position: relative;
  height: 400px;
  overflow: visible;
  margin-bottom: 20px; }

section.section-blog .blog-card-big .blog-cover {
  width: 100%;
  height: 400px;
  object-fit: cover; }

section.section-blog .blog-card-big .blog-image-hover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 400px;
  z-index: 5; }

section.section-blog .blog-card-big .blog-image-hover:hover {
  background: url("../images/DottedOverlay.svg");
  transition: 1s ease; }

section.section-blog .blog-card {
  margin: 2rem 0; }
  section.section-blog .blog-card .blog-image {
    position: relative;
    height: 200px;
    overflow: visible;
    margin-bottom: 20px; }
  section.section-blog .blog-card .blog-image:after {
    content: '';
    color: #FF0098;
    position: absolute;
    height: 104%;
    width: 80%;
    border: 0;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-style: solid;
    top: 0;
    right: -8px; }
  section.section-blog .blog-card .blog-cover {
    width: 100%;
    height: 200px;
    object-fit: cover; }
  section.section-blog .blog-card .blog-image-hover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
    z-index: 5; }
  section.section-blog .blog-card .blog-image-hover:hover {
    background: url("../images/DottedOverlay.svg");
    transition: 1s ease; }

section.section-blog .blog-body .blog-date {
  font-family: "Mukta", san-serif; }

section.section-blog .blog-body .blog-text {
  font-family: "Mukta", san-serif;
  font-size: 14px; }

section.section-blog .blog-body .blog-read a {
  color: #FF0098;
  letter-spacing: 0.5px; }

/* Single BLog Section */
section.section-blog-single {
  border: 0;
  padding: 0 1.5rem; }
  section.section-blog-single .post-heading {
    margin-top: 1rem;
    margin-bottom: 2rem; }
  section.section-blog-single p {
    font-family: "Mukta", san-serif; }

/* Blog */
/* For Educators Section */
section.section-for-educators .for-educators-card {
  margin: 20px 0; }

section.section-for-educators .for-educators-read-all {
  margin-top: 1rem; }

section.section-for-educators .for-educators-image {
  position: relative;
  height: 200px;
  overflow: visible;
  margin-bottom: 20px; }

section.section-for-educators .for-educators-image:after {
  content: '';
  color: #FF0098;
  position: absolute;
  height: 104%;
  width: 80%;
  border: 0;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-style: solid;
  top: 0;
  right: -8px; }

section.section-for-educators .for-educators-cover {
  width: 100%;
  height: 200px;
  object-fit: cover; }

section.section-for-educators .for-educators-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  z-index: 5; }

section.section-for-educators .for-educators-image-hover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 200px;
  z-index: 5; }

section.section-for-educators .for-educators-image-hover:hover {
  background: url("../images/DottedOverlay.svg");
  transition: 1s ease; }

section.section-for-educators .for-educators-body .for-educators-title a, section.section-for-educators .for-educators-body .for-educators-title a:hover, section.section-for-educators .for-educators-body .for-educators-title a:visited {
  color: #002677; }

section.section-for-educators .for-educators-body .for-educators-text {
  font-family: "Mukta", san-serif;
  font-size: 14px; }

section.section-for-educators .for-educators-body .for-educators-read a {
  color: #FF0098;
  letter-spacing: 1px; }

section.section-for-educators-single {
  border: 0;
  padding: 0 1.5rem; }
  section.section-for-educators-single .post-heading {
    margin-top: 1rem;
    margin-bottom: 2rem; }
  section.section-for-educators-single p {
    font-family: "Mukta", san-serif; }

/* Footer */
/* Footer */
.footer {
  margin-top: 3rem; }
  .footer .footer-text p {
    font-family: "Mukta", san-serif; }
  .footer .footer-copyright {
    font-family: "Mukta", san-serif; }

.footer-border-mobile {
  display: none;
  min-height: 0; }

/* Return to top button */
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  background: #FF0098;
  width: 50px;
  height: 50px;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

#return-to-top:hover {
  bottom: 30px; }

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

/* Webcomics Single */
.chapter-link {
  position: relative;
  display: inline-block;
  text-align: left;
  text-transform: uppercase;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  padding: 1rem 0 0 1.5rem !important; }
  .chapter-link h6 {
    display: inline-block; }
  .chapter-link .up {
    color: #1de9b6;
    font-size: 12px;
    font-family: "Archivo", sans-serif;
    font-weight: bold;
    margin-left: 0.5rem; }

.chapter-link--primary {
  background: #fff;
  color: #002677;
  border: 0;
  border-radius: 0; }

.chapter-link-animated {
  transition-property: color;
  transition-duration: 0.5s; }
  .chapter-link-animated:before {
    background: #002677;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: 100% 0;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    z-index: -1; }
  .chapter-link-animated:hover h6 {
    color: #fff;
    transition: 0.3s ease-in-out; }
  .chapter-link-animated:hover:before {
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66); }

section.section-wc-single {
  margin-top: 1.5rem; }

/* web comic creator anchor tag */
.wc-creator-section p a,
.wc-creator-section p a:active,
.wc-creator-section p a:hover {
  text-transform: none;
  font-family: inherit;
  font-weight: normal; }

/* News and Features Section */
section.section-news,
section.section-features {
  margin-right: 30px; }
  section.section-news .blog-caption,
  section.section-features .blog-caption {
    padding: 1rem;
    background-color: #fff; }

section.section-news .card-body {
  min-height: 235px; }

section.section-features .blog-caption {
  background-color: #002677; }

section.section-features p {
  color: #fff; }

section.section-features h3 {
  color: #fff; }

section.section-features .card-img-wrapper {
  position: relative; }

section.section-features .caption {
  position: absolute;
  padding: 1rem;
  bottom: 0; }
  section.section-features .caption h4 {
    color: #fff;
    margin-bottom: 0;
    background: #72C7E7;
    padding: 0.5rem; }

section.section-contact .contact-item i {
  color: #002677; }

section.related-post {
  border-top: 1px solid #E5E5E5;
  margin: 3rem 0; }
  section.related-post .row {
    margin-top: 1rem; }
  section.related-post .related-post-card .related-post-image {
    position: relative;
    height: 200px;
    overflow: visible;
    margin-bottom: 20px; }
  section.related-post .related-post-card .related-post-image:after {
    content: '';
    color: #FF0098;
    position: absolute;
    height: 104%;
    width: 80%;
    border: 0;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-style: solid;
    top: 0;
    right: -8px; }
  section.related-post .related-post-card .related-post-cover {
    width: 100%;
    height: 200px;
    object-fit: cover; }
  section.related-post .related-post-card .related-post-image-hover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
    z-index: 5; }
  section.related-post .related-post-card .related-post-image-hover:hover {
    background: url("../images/DottedOverlay.svg");
    transition: 1s ease; }
  section.related-post .related-post-card .related-post-title a, section.related-post .related-post-card .related-post-title a:hover, section.related-post .related-post-card .related-post-title a:visited {
    color: #002677; }
