/*Import font-face*/
@font-face {
  font-family: InputMonoReg;
  src: url(../fonts/InputMono-Regular.ttf) format("truetype"); }
/*Variables*/
/*$de-blue: #536dfe;*/
/*$de-light-blue: #8c9eff;*/
/*$de-dark-blue: #304FFE;*/
.translate-up {
  transform: translateY(-80px);
  transition: 0.5s; }

.translate-down {
  transform: translateY(80px);
  transition: 0.5s; }

.wc-pagination-web,
.wc-pagination-mobile,
.wc-pagination-fix-mobile {
  z-index: 3;
  display: none;
  background-color: #0077C8;
  transition: 0.5s; }
  .wc-pagination-web .pagination .chapter-pg,
  .wc-pagination-mobile .pagination .chapter-pg,
  .wc-pagination-fix-mobile .pagination .chapter-pg {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #fff;
    background-color: transparent;
    border: 0; }
  .wc-pagination-web .pagination .page-link,
  .wc-pagination-mobile .pagination .page-link,
  .wc-pagination-fix-mobile .pagination .page-link {
    background-color: transparent;
    color: #fff;
    border: 0; }
    .wc-pagination-web .pagination .page-link:focus, .wc-pagination-web .pagination .page-link:hover,
    .wc-pagination-mobile .pagination .page-link:focus,
    .wc-pagination-mobile .pagination .page-link:hover,
    .wc-pagination-fix-mobile .pagination .page-link:focus,
    .wc-pagination-fix-mobile .pagination .page-link:hover {
      color: #72C7E7; }
  .wc-pagination-web .pagination .page-item.disabled .page-link,
  .wc-pagination-mobile .pagination .page-item.disabled .page-link,
  .wc-pagination-fix-mobile .pagination .page-item.disabled .page-link {
    color: #72C7E7; }

.wc-read-share .list-inline-item {
  padding: .5rem .75rem;
  color: #fff; }

.wc-control {
  background: #0077C8;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0; }

/*Body*/
body {
  font-family: "InputMonoReg", sans-serif;
  color: #585858;
  font-size: 13px;
  background-color: #f5f5f5; }

body.wc-read {
  background-color: #fff; }

a {
  cursor: pointer;
  color: inherit; }

a:hover {
  text-decoration: none;
  color: #72C7E7; }

/* Cards */
.card,
.card-img-top {
  border: 0;
  border-radius: 0; }

.card-columns .card {
  margin-bottom: 1.5rem; }

/* Float */
.fl-left {
  display: inline-block; }

/* Headings */
h1,
h2 {
  font-family: "Archivo Black", sans-serif;
  text-transform: uppercase;
  color: #0077C8;
  margin-bottom: 1rem; }

h3,
h4,
h5,
h6 {
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #0077C8;
  margin-bottom: 1rem; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 18px; }

p {
  word-wrap: break-word; }

/* Sections */
body:not(.home) section {
  border-top: 0; }
  body:not(.home) section .section-title {
    margin-top: 0; }

.coming-soon {
  background: #0077C8; }

section, aside {
  margin-top: 3rem;
  border-top: 1px solid #0077C8; }

section .section-title {
  margin-top: 1rem; }
  section .section-title h1 {
    color: #0077C8; }

aside .section-title {
  margin-top: 1rem; }
  aside .section-title h1 {
    color: #0077C8; }

/* Blue background */
.bg-blue {
  background: #0077C8;
  color: #fff !important; }
  .bg-blue h1,
  .bg-blue h2,
  .bg-blue h3,
  .bg-blue h4,
  .bg-blue h5,
  .bg-blue h6 {
    color: #fff; }

/* 100pct width */
.w-100 {
  width: 100%; }

.post-meta {
  color: #0077C8; }

/* Lists */
ul {
  list-style-type: none;
  padding-left: 0; }

ul > li {
  padding: .25rem 0; }

/* Sidebar */
.sidebar {
  border-top: 1px solid #0077C8;
  padding-top: 1rem; }
  .sidebar a, .sidebar a:visited, .sidebar a:hover, .sidebar a:active {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    transition: 0.5s color ease;
    text-decoration: none;
    color: #0077C8;
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    text-transform: uppercase; }
  .sidebar a:hover {
    color: #72C7E7; }
  .sidebar a.after:after {
    content: "";
    transition: 0.5s all ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    bottom: -0.25rem;
    height: 4px;
    width: 0;
    background: #72C7E7; }
  .sidebar a.after:hover:after {
    width: 100%; }
  .sidebar a.link-animated:after {
    left: 0; }

/* Modal Box */
.modal-content {
  border: 1px solid #0077C8;
  border-radius: 0; }

.modal-header {
  border-bottom: 0; }

.close {
  color: #0077C8;
  opacity: 1; }
  .close:hover, .close:focus {
    color: #72C7E7; }

/* Share buttons */
.wc-read-share .share-buttons {
  color: #fff; }

.share-buttons {
  background: none;
  border: 0; }
  .share-buttons ul li {
    width: 40px;
    height: 40px;
    text-align: center; }
    .share-buttons ul li a {
      color: #0077C8;
      font-size: 16px;
      margin: auto; }
      .share-buttons ul li a:hover {
        color: #72C7E7; }
  .share-buttons.share-buttons--fix {
    position: fixed;
    top: 80;
    z-index: 2; }

/* Links on text post*/
.post-content a {
  color: #0077C8;
  text-decoration: underline; }
.post-content a:hover {
  color: #72C7E7;
  text-transform: uppercase; }
.post-content blockquote {
  font-size: 18px;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.4;
  padding: 0 1rem;
  color: #0077C8;
  border-left: 1px solid #0077C8; }

/* Hamburger menu */
.hamburger {
  padding: 20px 30px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 1; }

.hamburger-box {
  width: 30px;
  height: 20px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%; }
  .hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner:before, .hamburger-inner:after {
    content: "";
    display: block; }
  .hamburger-inner:before {
    top: -10px; }
  .hamburger-inner:after {
    bottom: -10px; }

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner:before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner:after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner:before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner:after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/* Subnav Links */
.subnav-links a, .subnav-links a:visited, .subnav-links a:hover, .subnav-links a:active,
.form-bluebg a,
.form-bluebg a:visited,
.form-bluebg a:hover,
.form-bluebg a:active {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  transition: 0.5s color ease;
  text-decoration: none;
  color: #fff; }
.subnav-links a:hover,
.form-bluebg a:hover {
  color: #72C7E7; }
.subnav-links a.after:after,
.form-bluebg a.after:after {
  content: "";
  transition: 0.5s all ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  bottom: -0.25rem;
  height: 4px;
  width: 0;
  background: #72C7E7; }
.subnav-links a.after:hover:after,
.form-bluebg a.after:hover:after {
  width: 100%; }
.subnav-links a.link-animated:after,
.form-bluebg a.link-animated:after {
  left: 0; }

/* Flags */
.flag-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 30px; }

.flag {
  color: #fff;
  border-radius: 10px;
  padding: 8px 20px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
  vertical-align: top;
  font-weight: normal;
  font-family: "Archivo", sans-serif;
  font-weight: 600; }

.flag-new {
  background: #ff8a80; }

.flag-comingsoon {
  background: #1de9b6; }

/* Buttons */
button:focus {
  outline: none; }

.fa-button {
  border: 0;
  background: transparent;
  color: #fff; }
  .fa-button:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: #72C7E7; }

.btn {
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-size: 13px;
  position: relative;
  display: inline-block;
  padding: 1rem 1.5rem;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  z-index: 1;
  cursor: pointer; }
  .btn:focus {
    outline: none; }

.btn--primary {
  background: transparent;
  color: #0077C8;
  border: 2px solid #0077C8;
  border-radius: 0; }

.btn-animated {
  transition-property: color;
  transition-duration: 0.5s; }
  .btn-animated:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0077C8;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    z-index: -1; }
  .btn-animated:hover {
    color: #fff; }
    .btn-animated:hover:before {
      transform: scaleX(1);
      transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66); }

.btn--white {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 0; }
  .btn--white.btn-animated:before {
    background: #fff; }
  .btn--white.btn-animated:hover {
    color: #0077C8; }

.dropdown .btn {
  padding: 0.75rem 1.5rem; }

.dropdown-menu {
  color: #0077C8;
  border: 2px solid #0077C8;
  border-radius: 0;
  font-size: 13px;
  background: #f5f5f5;
  z-index: 2; }
  .dropdown-menu .dropdown-item {
    color: #0077C8;
    font-weight: 600;
    padding: 0.75rem 1.5rem; }
    .dropdown-menu .dropdown-item:hover {
      color: #fff;
      background: #0077C8; }

.sorting-result {
  text-align: right;
  text-transform: uppercase;
  color: #0077C8;
  font-family: "Archivo", sans-serif;
  font-weight: 600; }

.pagination .page-link {
  color: #0077C8; }

/* Forms */
.form-bluebg .form-subscription input {
  background: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #fff; }
.form-bluebg .form-subscription input::placeholder {
  color: #fff;
  font-size: 12px; }
.form-bluebg .form-subscription .form-control {
  color: #fff; }
.form-bluebg .form-subscription .form-check {
  margin: 1rem 0; }
.form-bluebg .btn {
  padding: .375rem 2rem !important;
  margin-top: 0 !important; }

.form-whitebg textarea,
.form-whitebg input {
  background: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #0077C8; }
.form-whitebg textarea::placeholder,
.form-whitebg input::placeholder {
  font-size: 12px;
  color: inherit; }
.form-whitebg .form-check {
  margin: 1rem 0; }
.form-whitebg .btn {
  padding: .375rem 2rem !important;
  margin-top: 0 !important; }

.form-control:focus {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid #72C7E7; }

/* FA Icon */
.circle-icon {
  background: #0077C8;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  padding: 13px; }
  .circle-icon:hover, .circle-icon:active, .circle-icon:focus {
    background: #72C7E7; }

/* Hover Effects */
.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }
  .hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
    -webkit-transform: translateX(8px);
    transform: translateX(8px); }

.hvr-backward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }
  .hvr-backward:hover, .hvr-backward:focus, .hvr-backward:active {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px); }

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden; }
  .hvr-underline-from-left:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: 2;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #72C7E7;
    height: 8px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0; }

/* Header and Navigation */
header.main-header {
  background-color: #0077C8; }
  header.main-header .navbar-brand img {
    width: 350px;
    padding: 1rem 1.5rem 1rem 1.5rem; }
  header.main-header .subnav-links {
    padding: 0.5rem 1rem;
    text-align: right;
    font-size: 12px; }
    header.main-header .subnav-links .list-inline {
      margin-bottom: 0;
      margin-right: 1rem; }
    header.main-header .subnav-links li .subnav-search {
      border: 0;
      border-bottom: 1px solid #fff;
      background-color: transparent;
      border-radius: 0; }
    header.main-header .subnav-links li input::placeholder {
      color: #fff;
      font-size: 12px; }
  header.main-header .navbar-wrapper {
    background-color: #72C7E7; }
    header.main-header .navbar-wrapper.sticky {
      position: fixed;
      top: 0;
      z-index: 10;
      width: 100%;
      background-color: #72C7E7;
      display: none; }
      header.main-header .navbar-wrapper.sticky .navbar-nav .nav-item a {
        font-size: 14px;
        color: #fff;
        font-family: "Archivo", sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 0.5rem 1.5rem; }
      header.main-header .navbar-wrapper.sticky .navbar-nav .nav-item a:hover {
        color: #006DA3; }
      header.main-header .navbar-wrapper.sticky .navbar-nav .active > .nav-link, header.main-header .navbar-wrapper.sticky .navbar-nav .show > .nav-link, header.main-header .navbar-wrapper.sticky .navbar-nav .nav-link:focus {
        color: #006DA3; }
      header.main-header .navbar-wrapper.sticky .navbar-nav .dropdown-menu {
        background-color: #72C7E7;
        border: 0;
        border-radius: 0;
        margin: 0; }
  header.main-header .sticky-logo {
    padding: 5px; }
    header.main-header .sticky-logo img {
      width: 145px;
      margin-right: 2rem; }
  header.main-header .navbar-nav .nav-item a {
    font-size: 14px;
    color: #fff;
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.5rem 1.5rem; }
  header.main-header .navbar-nav .nav-item a:hover {
    color: #006DA3; }
  header.main-header .navbar-nav .active > .nav-link, header.main-header .navbar-nav .show > .nav-link, header.main-header .navbar-nav .nav-link:focus {
    color: #006DA3; }
  header.main-header .navbar-nav .dropdown-menu {
    background-color: #72C7E7;
    border: 0;
    border-radius: 0;
    margin: 0; }

/* Jumbotron */
section.section-jumbotron {
  margin: 0;
  border-top: 0;
  	/*.btn {
  		font-size: 14px;
  	  	padding: 3.5rem 2rem 1rem 1rem;
  		margin-top: 1rem;
  
  	  	&:focus {
  	    	outline: none;
  	  	}
  	}*/ }
  section.section-jumbotron .jumbotron {
    padding: 0;
    background-color: #0077C8;
    border-radius: 0;
    margin-bottom: 0; }
  section.section-jumbotron .jumbotron-image {
    background: url("../images/DE_bg_pattern2.png");
    background-size: 100%; }
  section.section-jumbotron .jumbotron-image-mobile {
    display: none;
    min-height: 0px; }
  section.section-jumbotron .jumbotron-caption {
    padding: 2.5rem; }
    section.section-jumbotron .jumbotron-caption h1 {
      font-family: "Archivo", sans-serif;
      font-weight: 600;
      color: #fff;
      margin-bottom: 1rem; }
    section.section-jumbotron .jumbotron-caption p {
      color: #fff;
      margin-bottom: 1rem; }
  section.section-jumbotron .form-bluebg {
    margin-top: 3rem; }

/* Carousel */
section.section-carousel {
  margin-top: 0;
  border: 0; }

.carousel .carousel-control-next, .carousel .carousel-control-prev {
  opacity: 1; }
.carousel .carousel-control-icon {
  /*background: $de-blue;
  padding: .5rem 1rem;*/
  font-size: 30px; }

.carousel-indicators {
  position: initial;
  margin: 1.5rem 0 0 0; }
  .carousel-indicators li {
    width: 19px;
    height: 19px;
    background-color: transparent;
    border: 2px solid #0077C8; }
    .carousel-indicators li.active {
      background-color: #0077C8; }

/* Comics Section */
section.section-comics .cover-title {
  margin-top: 1rem; }
  section.section-comics .cover-title h2 {
    color: #0077C8; }

/* Genre Section */
section.section-genre .genre-block {
  margin-top: 1.5rem; }
section.section-genre .genre-link {
  position: relative;
  display: inline-block;
  text-align: left;
  text-transform: uppercase;
  overflow: hidden;
  z-index: 1;
  cursor: pointer; }
  section.section-genre .genre-link:focus {
    outline: none; }
  section.section-genre .genre-link h3 {
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    letter-spacing: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 2rem;
    transition: 0.3s ease-in-out; }
section.section-genre .genre-link--primary {
  background: #fff;
  color: #0077C8;
  border: 0;
  border-radius: 0; }
section.section-genre .genre-link-animated {
  transition-property: color;
  transition-duration: 0.5s; }
  section.section-genre .genre-link-animated.genre-block-1 {
    border-right: 8px solid #ff8a80; }
    section.section-genre .genre-link-animated.genre-block-1:before {
      background: #ff8a80; }
  section.section-genre .genre-link-animated.genre-block-2 {
    border-right: 8px solid #ffd740; }
    section.section-genre .genre-link-animated.genre-block-2:before {
      background: #ffd740; }
  section.section-genre .genre-link-animated.genre-block-3 {
    border-right: 8px solid #1de9b6; }
    section.section-genre .genre-link-animated.genre-block-3:before {
      background: #1de9b6; }
  section.section-genre .genre-link-animated.genre-block-4 {
    border-right: 8px solid #b388ff; }
    section.section-genre .genre-link-animated.genre-block-4:before {
      background: #b388ff; }
  section.section-genre .genre-link-animated.genre-block-5 {
    border-right: 8px solid #72C7E7; }
    section.section-genre .genre-link-animated.genre-block-5:before {
      background: #72C7E7; }
  section.section-genre .genre-link-animated:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: 100% 0;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    z-index: -1; }
  section.section-genre .genre-link-animated:hover h3 {
    color: #fff;
    transition: 0.3s ease-in-out; }
  section.section-genre .genre-link-animated:hover:before {
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66); }

/* Webcomics Section */
section.section-webcomics .thumbnail {
  position: relative; }
section.section-webcomics .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  z-index: 1; }
  section.section-webcomics .caption h2 {
    color: #fff;
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    margin-bottom: 0.5rem; }
  section.section-webcomics .caption p {
    color: #fff; }
section.section-webcomics .overlay {
  background-color: black; }
section.section-webcomics img.webcomics-cover {
  width: 100%;
  z-index: -1;
  transition: all 0.5s ease-in-out;
  opacity: 0.75; }

/* Webcomics Single */
.chapter-link {
  position: relative;
  display: inline-block;
  text-align: left;
  text-transform: uppercase;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  padding: 1rem 0 0 1.5rem !important; }
  .chapter-link h6 {
    display: inline-block; }
  .chapter-link .up {
    color: #1de9b6;
    font-size: 12px;
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    margin-left: 0.5rem; }

.chapter-link--primary {
  background: #fff;
  color: #0077C8;
  border: 0;
  border-radius: 0; }

.chapter-link-animated {
  transition-property: color;
  transition-duration: 0.5s; }
  .chapter-link-animated:before {
    background: #0077C8;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: 100% 0;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    z-index: -1; }
  .chapter-link-animated:hover h6 {
    color: #fff;
    transition: 0.3s ease-in-out; }
  .chapter-link-animated:hover:before {
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66); }

section.section-wc-single {
  margin-top: 1.5rem; }

/* News and Features Section */
section.section-news,
section.section-features {
  margin-right: 30px; }
  section.section-news .blog-caption,
  section.section-features .blog-caption {
    padding: 1rem;
    background-color: #fff; }

section.section-features .blog-caption {
  background-color: #0077C8; }
section.section-features p {
  color: #fff; }
section.section-features h3 {
  color: #fff; }
section.section-features .card-img-wrapper {
  position: relative; }
section.section-features .caption {
  position: absolute;
  padding: 1rem;
  bottom: 0; }
  section.section-features .caption h4 {
    color: #fff;
    margin-bottom: 0;
    background: #72C7E7;
    padding: 0.5rem; }

section.section-contact .contact-item i {
  color: #0077C8; }

/* Footer */
.footer {
  margin-top: 3rem;
  padding-top: 3rem;
  padding-bottom: 1.5rem; }
  .footer .footer-brand img {
    width: 80%; }
  .footer .footer-social-links a {
    color: #fff; }
  .footer .footer-social-links a:hover, .footer .footer-social-links a:active, .footer .footer-social-links a:focus {
    color: #72C7E7; }

.footer-border-mobile {
  display: none;
  min-height: 0px; }

/* Return to top button */
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  background: #72C7E7;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

#return-to-top:hover {
  bottom: 30px; }

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

/*# sourceMappingURL=style.css.map */
