.custom-area {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.behind-the-team {
  margin-bottom: 3rem;

  .team-card {
    padding-right: 1rem;

    .team-name {}

    .team-role {
      color: $de-blue;
    }

    .team-image {
      position: relative;
      height: 200px;
      width: 200px;
      overflow: visible;
      margin-bottom: 2rem;

      &:after {
        content: '';
        color: #ff0098;
        position: absolute;
        height: 104%;
        width: 80%;
        border: 0;
        border-right-width: 2px;
        border-bottom-width: 2px;
        border-style: solid;
        top: 0;
        right: -8px;
      }

      .team-cover {
        position: absolute;
        object-fit: cover;
        height: 100%;
        width: 100%;
        visibility: visible;
        opacity: 1;
        z-index: 2;
        -webkit-transition: opacity 0.5s linear;
        transition: opacity 0.5s linear;
      }

      .team-cover-hover {
        position: absolute;
        object-fit: cover;
        height: 100%;
        width: 100%;
      }

    }

    .team-image:hover {
      .team-cover {
        opacity: 0;
      }
    }

    .team-description {

    }
  }
}