/* Blog Section */

section.section-blog {
  .blog-carousel {
    margin: 20px 0;
    overflow: hidden;
  }

  .carousel-indicators {
    position: absolute;
    right: 0;
    margin-bottom: 0;
    bottom: 0;
    left: 12px;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    margin-right: 0;
    margin-left: 0;
  }

  .blog-carousel-control {
    opacity: 0;
  }

  .carousel-indicators li {
    width: 10px;
    height: 10px;
    background-color: $de-background;
    border: 1px solid $de-blue;
    border-radius: 100%;
    cursor: pointer;
  }

  .carousel-indicators li.active {
    background-color: $de-blue;
    border: 1px solid $de-blue;
  }

  .blog-read-all {
    margin-top: 1rem;
    font-family: $dinosaur;
  }

  .blog-card-big {
    .blog-image {
      position: relative;
      height: 400px;
      overflow: visible;
      margin-bottom: 20px;
    }

    .blog-cover {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }

    .blog-image-hover:hover {
      background: $image-hover;
      transition: 1s ease;
    }

    /* css changes for 7:5 ratio images */
    .blog-image-75 {
      display: block;
      width: 100%;
      position: relative;
      height: 0;
      padding: 71.43% 0 0 0;
      // overflow: hidden;
    }

    .blog-cover-75 {
      position: absolute;
      object-fit: cover;
      height: 100%;
      width: 100%;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    .blog-image-75:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background: $image-hover;
    }
    .blog-image-75:hover:after {
      opacity: 1;
      transition: 1s ease;
    }

    .blog-image-hover {
      position: absolute;
      top: 0;
      width: 100%;
      height: 400px;
      z-index: 5;
    }
  }

  .blog-card {
    margin: 2rem 0;

    .blog-image {
      position: relative;
      height: 200px;
      overflow: visible;
      margin-bottom: 20px;
    }

    .blog-image:after {
      content: '';
      color: #ff0098;
      position: absolute;
      height: 104%;
      width: 80%;
      border: 0;
      border-right-width: 2px;
      border-bottom-width: 2px;
      border-style: solid;
      top: 0;
      right: -8px;
    }

    .blog-cover {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .blog-image-hover {
      position: absolute;
      top: 0;
      width: 100%;
      height: 200px;
      z-index: 5;
    }

    .blog-image-hover:hover {
      background: $image-hover;
      transition: 1s ease;
    }
  }

  .blog-body {
    .blog-date {
      font-family: $mukta;
    }

    .blog-title {
    }

    .blog-text {
      font-family: $mukta;
      font-size: 16px;
    }

    .blog-read a {
      color: $de-pink;
      font-family: $dinosaur;
    }
  }
}

/* Single BLog Section */

section.section-blog-single {
  border: 0;
  padding: 0 1.5rem;

  .post-heading {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  p {
    font-family: $mukta;
  }
}

.featured-blog-image {
  display: block;
  width: 100%;
  position: relative;
  height: 0;
  padding: 40% 0 0 0;
  overflow: hidden;
}

.featured-blog-cover {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
