/* Input */

input.form-control,
textarea.form-control,
input.form-control:focus,
input.form-control:-webkit-autofill,
input.form-control:-webkit-autofill:hover,
input.form-control:-webkit-autofill:focus,
textarea.form-control:focus {
  background: transparent;
  border: 0;
  border-bottom: 2px solid $de-pink;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  margin: .5rem 0;
}

input.form-control::placeholder,
textarea.form-control::placeholder {
  color: $dark-grey;
  font-family: $mukta;
  font-size: 16px;
}

.form-check {
  margin: 1rem 0;
}

button.btn {
  font-family: $dinosaur;
  font-weight: normal;
  font-size: 14px;
  color: $de-pink;
  background-color: $de-background;
  padding: 0.5rem 2rem;
  margin: .5rem 0;
  border: 1px solid $de-pink;
  border-radius: 0;
  overflow: visible;
  outline:none;

  &:focus {
    outline:none;
    box-shadow: none;
  }

  &:after {
    content: '';
    color: #FF0098;
    position: absolute;
    height: 105%;
    width: 100%;
    border: 0;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-style: solid;
    top: 3px;
    right: -5px;
  }
}

@mixin transition($x...){
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  -o-transition: $x;
  transition: $x;
}

.btn-animated {
  transition-property: color;
  transition-duration: 0.5s;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $de-pink;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    z-index: -1;
  }

  &:hover {
    color: $de-background;

    &:before {
      transform: scaleX(1);
      transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
    }
  }
}

button.btn-search {
  font-weight: normal;
  font-size: 16px;
  color: $de-pink;
  background-color: $de-background;
  padding: 0 1rem;
  border: 0;
  border-radius: 0;
  overflow: hidden;
  outline: none;
}

input.input-search {
  border-bottom: 2px solid transparent;
}

input.input-search, input.input-search:focus {
  color: $de-pink;
  font-family: $dinosaur;
}

input.input-search::placeholder {
  color: $de-pink;
  font-size: 16px;
  font-family: $dinosaur;
  text-transform: uppercase;
}

button.sort-button {
  border: 1px solid #C4C4C4;
  color: $dark-grey;

  &:after {
    content: none;
  }

  &:hover {
    border: 1px solid $de-pink;
    color: $dark-grey;
  }
}

.dropdown-menu {
  background: $de-background;
  border: 1px solid #C4C4C4;
  border-radius: 0;
  color: $de-pink;
  padding: 0;
  font-size: 16px;
  z-index: 6;

  .dropdown-item {
    color: $de-pink;
    padding: 0.75rem 1.5rem;

    &:hover {
      color: $white;
      background: $de-pink;
    }
  }
}