/* Webcomics Section */

section.section-webcomics {
  .webcomics-card {
    margin: 20px 0;
  }

  .webcomics-read-all {
    font-family: $dinosaur;
    margin-top: 1rem;
  }

  .webcomics-image {
    position: relative;
    height: 200px;
    overflow: visible;
    margin-bottom: 20px;
  }

  .webcomics-image:after {
    content: '';
    color: #FF0098;
    position: absolute;
    height: 104%;
    width: 80%;
    border: 0;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-style: solid;
    top: 0;
    right: -8px;
  }

  .webcomics-cover {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .webcomics-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    z-index: 5;
  }

  .webcomics-image-hover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
    z-index: 5;
  }

  .webcomics-image-hover:hover {
    background: $image-hover;
    transition: 1s ease;
  }

  .webcomics-body {
    .webcomics-title {

    }

    .webcomics-text {
      font-family: $mukta;
      font-size: 14px;
    }

    .webcomics-read a {
      font-family: $dinosaur;
      color: $de-pink;
    }
  }

}

/* Single Webcomic */

.webcomic-chapters-wrapper {

  .webcomic-chapter:first-child {
    border-top: $de-divider;
  }
  .webcomic-chapter {
    border-bottom: $de-divider;
    height: 100px;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;

    .chapter-cover {
      width: 100%;
      object-fit: cover;
    }

    .chapter-image {
      width: 100%;
      //height: 85px;
      object-fit: cover;
      z-index: 5;
    }

    .chapter-body {
      padding-left: 1rem;
      padding-top: 1rem;

      .webcomic-title {
        .chapter-no {
          font-family: $mukta;
          font-size: 14px;
        }

        .chapter-title {
          font-size: 18px;
        }
      }

      .chapter-read {
        font-family: $dinosaur;
        margin-top: 1.1rem;
      }
    }
  }
}

.chapter-link--primary {
  background: $white;
  color: $de-blue;
  border: 0;
  border-radius: 0;
}